* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;
    background-color: #b7d94e;
}
.center {
    margin: auto;
}
.form-group {
    color: white;
    text-align: center;
    font-size: 32px;
}
.btn-block {
    margin: auto;
    max-width: 300px;
}
.img1 {
    width: 90px;
    height: auto;
    position: absolute;
}.img2 {
    width: 110px;
    height: auto;
    position: absolute;
}
.img3 {
    width: 130px;
    height: auto;
    position: absolute;
}